html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

html,
body,
.app {
    height: 100%;
    width: 100%;
}

/* 全体のレイアウト */

/* 親div */
.parent {
    display: flex;
    height: 100%;
    width: 100%;
}
/* 子div */
.left {
    width: 100%;
}
.center {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70rem;
    flex-grow: 3;
}
.right {
    width: 100%;
    flex-grow: 3;
}
/* 上に表現するタイマー */
.timer {
    text-align: right;
    margin: 8px 0;
    padding: 0 30px;
    font-weight: bold;  /* 太字 */
    font-family:monospace, serif;
}
/* 終了後に表示するタイマー */
.timer_finish {
    animation: flash 1.5s linear infinite;
    text-align: right;
    margin: 8px 0;
    padding: 0 30px;
    font-weight: bold;  /* 太字 */
    font-family:monospace, serif;
}

.main {
    display: flex;
    justify-content: center;
}

/* カレンダーデザイン */
.calendar {
    height: 20rem;
}
.calendar-bar {
    position: relative;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #555;
    box-sizing: border-box;
}
.calendar-bar:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-bottom: 12px solid #FFF;
    z-index: 2;
} 
.calendar-bar:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-bottom: 14px solid #000000;
    z-index: 1;
}
.calendar-bar p {
    margin: 0;
    padding: 0;
}
.calendar-bar {
    background-color: rgb(37, 42, 125);
    height: 2rem;
    width: 20rem;
    border: solid 2px;
    border-color: rgb(37, 42, 125);
}
.calendar-content {
    position: absolute;
    height: 18rem;
    width: 20rem;
    border: solid 2px;
    border-color: rgb(0, 0, 0);
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-content p {
    margin: auto 0;
    text-align: center;
    font-size: 100px;
}

/* カレンダーめくりアニメーション */
.v-enter-active,
.v-leave-active {
    transition: 0.5s;
}
.v-enter {
    opacity: 0;
    transform: translateY(100px);
}
.v-leave-to[data-state="true"] {
    opacity: 0;
    animation-name: falling_paper_left;
    animation-duration: 1s; /* アニメーションの時間 */
    animation-iteration-count: 1;  /* アニメーションの回数 */
}
.v-leave-to[data-state="false"] {
    opacity: 0;
    animation-name: falling_paper_right;
    animation-duration: 1s; /* アニメーションの時間 */
    animation-iteration-count: 1;  /* アニメーションの回数 */
}
/* めくるアニメーション */
@keyframes falling_paper_right {
    /* 初期位置 */
    0% {
        opacity: 1; /* 透明度 */
    }
    100% {
        opacity: 0;
        transform:translateY(200px) translateX(500px) rotate(-45deg);
    }
}
@keyframes falling_paper_left {
    /* 初期位置 */
    0% {
        opacity: 1; /* 透明度 */
    }
    100% {
        opacity: 0;
        transform:translateY(200px) translateX(-500px) rotate(45deg);
    }
}
.v-leave-to[data-state="false"] {
    opacity: 0;
    transform: translate(-50px, 50px);
}

/* タイマーストップした後点滅するcss */
@media (min-width: 768px) {
    .timer_end {
        animation: flash 1.5s linear infinite;
        padding: 0 10rem;
        text-align: right;
        font-weight: bold;  /* 太字 */
        font-family:monospace, serif;
    }
}
/* 画面幅が768px以下の場合 */
.timer_end {
    animation: flash 1.5s linear infinite;
    text-align: right;
    font-weight: bold;  /* 太字 */
    font-family:monospace, serif;
}

/* 終了後に中央にタイマー表示 */
#time{
    margin: 20px 0;
    text-align: center;
    font-weight: bold;  /* 太字 */
    font-family:monospace, serif;
}


/* 点滅のアニメーション */
@keyframes flash {
    0%,
    100% {
        /* 不透明度 */
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}


/* 上から落ちてくるお見事のcss */
.fadedown_omigoto {
    text-align: center;
    font-size: 75px;
    font-weight: bold;  /* 太字 */
    animation-name: fadedown;
    animation-duration: 2s; /* アニメーションの時間 */
    animation-iteration-count: 1;  /* アニメーションの回数 */
    /* animation-iteration-count: infinite; */  /* テスト用無限繰り返し */
    font-family:  serif; 
}
/* 落ちる動き */
@keyframes fadedown {
    /* 初期位置 */
    0% {
        opacity: 0; /* 透明度 */
        transform: translateY(100px); /* y軸の移動 */
    }
    /* 透明状態で上へ移動  */
    50% {
        opacity: 0;
        transform: translateY(-400px);
    }
    /* 描画されながら降下  */
    80% {
        opacity: 1;
        transform: translateY(40px);
    }
}
/* もう一度ボタン */
.end_button {
    height: 50px;
    width: 100%;
    color: #000;
    font-weight: 700;
    border-radius: 100vh;
    background: #fff;
    font-size: 15px;
}
.end_button:hover {
    background-color: #eee;
}
.before-starting {
    color: red;
}
.after-starting {
    color: #000;
}